<a href="https://colab.research.google.com/github/HarvinderSinghDiwan/Covid-19/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
Fever1=[1 for i in range(0,89)]
Fever2=[0 for j in range(0,11)]
Fever=Fever1+Fever2
len(Fever)

100

In [0]:
DC1=[1 for i in range(67) ]
DC2=[0 for i in range(0,33) ]
DryCount=DC1+DC2

In [0]:
F1=[1 for i in range(38) ]
F2=[0 for i in range(0,62) ]
Fatigue=F1+F2

In [74]:
len(DryCount)

100

In [0]:
import pandas as pd
import numpy as np

In [0]:
df=pd.DataFrame({"Fever":Fever,"DryCount":DryCount,"Fatigue":Fatigue})

In [80]:
df

    Fever  DryCount  Fatigue
0       1         1        1
1       1         1        1
2       1         1        1
3       1         1        1
4       1         1        1
..    ...       ...      ...
95      0         0        0
96      0         0        0
97      0         0        0
98      0         0        0
99      0         0        0

[100 rows x 3 columns]